body {
    font-family: 'Assistant', sans-serif;
}

/*---------Navbar----------*/

.navbar {
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    font-weight: bold;
}

@media (min-width: 576px) {
    .navbar-brand {
        font-weight: bold;
        letter-spacing: 4px;
    }
    .navbar-nav li a {
        letter-spacing: 2px;
    }
}

.navbar-text {
    text-transform: none;
}

.navbar-toggler:hover {
    border-style: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/*----------Carousel-----------*/

.carousel-item {
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

@media (min-width: 992px) {
    .carousel-inner .carousel-item img {
        max-height: 95vh;
        max-width: 100vw;
        margin: 0;
        overflow: hidden;
    }
}

.caption-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
}

.carousel-caption h1 {
    padding-top: 40px;
    display: table-cell;
    vertical-align: super;
    text-align: left;
}

.carousel-caption h2 {
    padding-top: 40px;
    display: table-cell;
    vertical-align: super;
    text-align: left;
    color: #fff;
}


/*--------Containers---------*/

.container-wrapper {
    padding: 40px 25px 40px 25px;
    text-align: justify;
    position: relative;
    z-index: 0;
}

@media (min-width: 576px) {
    .container-wrapper {
        padding: 50px;
    }
}

.container-wrapper--white {
    background-color: #fff;
    color: #6c757d;
}

.container-wrapper--grey {
    background-color: #6c757d;
    color: #fff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.container-wrapper--map {
    text-align: center;
}

@media (min-width: 1075px) {
    .container-wrapper--map {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.overview-container {
    line-height: 32px;
}

.gallery-container {
    padding-right: 0px;
    padding-left: 0px;
}

.hotels-container {
    padding-right: 15px;
    padding-left: 15px;
}

/*-------Page Headers--------*/

#page-head {
    color: #fff;
    text-transform: uppercase;
}

/*-------Section Headers--------*/

.section-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.overview .section-header {
    color: #6c757d;
}

.overview p {
    font-size: 18px;
}

/*-------Intro Paragraphs--------*/

.intro-paragraph {
    font-size: 22px !important;
    line-height: 40px;
    letter-spacing: 1px;
}



/*-------Highlights-------*/

.highlights .col-md-4 {
    padding-bottom: 20px;
}

.highlights-media {
    text-align: center;
    margin-top: 20px;
}

.highlights-media i {
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 10px;
}

.highlights-text {
    text-align: center;
    font-size: 18px;
}

.highlights-text h4 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

/*------------Highlights Cards-----------*/

.highlights-card {
    border: none;
}

.highlights-card i {
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 10px;
}

.card-title {
    text-transform: uppercase;
}

.card-footer {
    background-color: transparent;
    border-top: none;
}

@media (min-width: 768px) {
    .highlights-card {
        align-items: center;
        height: 30em;
    }
    .card-img-top {
        height: 11em;
    }
    .highlights-card.card-body {
        height: 15em;
        line-height: 22px;
    }
    .highlights-card.card-footer {
        height: 4em;
    }
    .highlights-card.card-title {
        padding-bottom: 15px;
    }
    .highlights-card.card-text {
        margin-top: 5px;
        height: 160px;
    }
}

/*------------Sights Cards-----------*/


.sights-col {
    padding: 10px;
}

.sights-img {
    padding-right: 0;
}

.sights-text {
    padding: 0;
}

.sights-body {
    padding: 12px;
    text-align: left;
}

.sights-title {
    line-height: 18px;
}

.card-subtitle {
    margin-bottom: 10px;
}

.sights-btn {
    font-size: 14px;
    color: #6c757d;
    border: none;
    padding: 0;
}

.sights-btn:hover {
    font-size: 16px;
    color: #6c757d;
}

.sights-btn:focus {
    outline: none;
    box-shadow: none;
} 

/*------------Jumbotrons-----------*/

.jumbotron {
    margin-bottom: 0px;
    padding-top: 1rem;
    height: 95vh;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#places-jumbotron {
    background-image: url('../media/Zanzibar.jpg');
}

#sights-jumbotron {
    background-image: url('../media/sights-stone-town.jpg');
}

@media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (webkit-min-device-pixel-ratio: 3) 
        and (orientation: landscape) {
            .jumbotron {
                padding-top: 1rem !important;
            }
}

/*------------Hotels-----------*/

.hotel-row {
    padding-bottom: 50px;
}

@media (min-width: 576px) {
    .hotel-text {
        padding-right: 50px;
    }
}

.hotel-text h5 {
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.hotel-video {
    padding-right: 15px;
    padding-left: 15px;
}

.hotel-video iframe {
    width: 240px;
}

/*------------Buttons-----------*/

.btn {
    font-weight: bold;
    border-radius: 30px;
}

.highlights-btn {
    margin-top: 10px;
}

.highlights-btn:hover {
    color: #6c757d;
}

.submit-btn {
    float: right;
}

/*------------Contact Modal-----------*/

.modal-dialog {
    background-color: #fff;
    color: #6c757d;
    border-radius: 7px;
}

.modal-title {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .9);
    font-weight: bolder;
    letter-spacing: 4px;
}

.modal-body p {
    font-weight: bold;
    letter-spacing: 1px;
}

/*------------Footer------------*/

footer {
    margin-left: 0px;
    padding: 30px 15px 0px 15px;
    background-color: #f8f9fa;
    color: rgba(0, 0, 0, .5);
}

.footer-row {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .footer-row-cols {
        width: auto;
        margin-top: auto;
        text-align: justify;
    }
}

.footer-row-cols h6 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-row-cols ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer-row-cols li a {
    font-size: small;
    color: rgba(0, 0, 0, .5);
}

footer ul li a:hover {
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.footer-col {
    padding-left: 35px;
    padding-right: 35px;
}

.social-links li a i {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 5px;
    display: block;
}

.social-links li a i:hover {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.copyright-col {
    text-align: center;
}

.copyright-col p {
    font-size: smaller;
}
